<h1>Kurs hinzufügen</h1>

<div class="container">
  <!-- Card -->
  @for (course of purchasedCourses(); track course.id) {
    <div class="card">
      <div class="card-image bg-cream">
        <span class="badge published">Draft</span>
        <span class="badge lessons">{{ course.lessons_count }}</span>
      </div>

      <div class="card-body">
        <h3>{{ course.course.name }}</h3>
        <p>{{ course.course.description}}</p>
        <div class="featured">
          <span>FEATURED LESSON</span>
          <strong>Working with Grids (Video)</strong>
          <small>Lesson 4 · 12:45m</small>
        </div>
      </div>

      <div class="card-footer">
        <div class="icons"></div>
        <button class="main-btn-start-in-krypto edit-button" routerLink="/crm/kurse/list-lessons">
          Edit
        </button>
      </div>
    </div>
  }
</div>

<section class="pricing">
  <div class="pricing-header">
    <h1>Wähle dein Kurs</h1>
    <p>
      Meistere den Kryptomarkt mit unseren strukturierten Kursen. Wähle einen Plan, der zu deinen
      beruflichen Zielen und deinem Stil passt.
    </p>
  </div>

  <div class="pricing-plans">
    <!-- BASIC -->
    @for (course of courses(); track course.order) {
      <div class="course">
        <h3 class="course-title">{{ course.name }}</h3>
        <span class="badge">{{ course.badge }}</span>
        <span class="course-description">{{ course.description }}</span>

        <div class="course-price">
          <span class="price">{{ course.price | number: '1.2-2' }}€</span
          ><span class="period">/einmalig</span>
        </div>

        <!-- <button class="main-btn-start-in-krypto" (click)="buyCourse(course.id)">Kaufen</button> -->

        <ul class="course-features">
          @for (feature of course.features; track feature.id) {
            <li>{{ feature.text }}</li>
          }
        </ul>
        <ul class="features-button">
          <li>
            <a
              class="main-btn-start-in-krypto edit-button"
              [routerLink]="['/crm/kurse', course.id, 'edit-features']"
            >
              Themen
            </a>
          </li>
          <li>
            <a
              class="main-btn-start-in-krypto edit-button"
              [routerLink]="['/crm/kurse', course.id, 'list-of-lessons']"
            >
              Videos
            </a>
          </li>

          <li>
            <a
              class="main-btn-start-in-krypto edit-button"
              [routerLink]="['/crm/kurse', course.id, 'edit-course']"
            >
              Edit
            </a>
          </li>
        </ul>
      </div>
    }
  </div>
</section>

<button class="main-btn-start-in-krypto" routerLink="/crm/kurse/new-course">Neue Kurs</button>
