@use './../../../basic';

.main-content-customer {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  max-width: 37.875rem;
  width: 100%;
  background-color: #fff;
  border-radius: 1.25rem;
  padding: 40px;
  margin: 10px;
  .arrow-back {
    width: fit-content;
    text-decoration: none;
  }
  .title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 2.5rem;
    margin-bottom: 1.875rem;
    .form-title-name {
      color: basic.$primary;
      font-size: 1.8rem;
      font-weight: 700;
    }
  }
  .content-section {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1.875rem;
    gap: 1rem;
    h2 {
      color: basic.$primary;
      font-size: 2rem;
      font-weight: 700;
    }
    p {
      font-size: 1.25rem;
      font-weight: 500;
    }
  }
}