<div class="checkout">
  <div class="container">
    <div class="checkout__left">
      <h1>Zahlung</h1>
      <p class="subtitle">Schließe deinen Kauf ab, um deine Kryptolernreise mit uns zu beginnen.</p>

      <!-- Payment Method -->
      <h3>Zahlungmethoden</h3>

      <div class="payment-methods">
        <label class="method">
          <input
            type="radio"
            name="payment"
            value="paypal"
            (change)="setPaymentMethod('paypal')"
            checked
          />

          <img src="./assets/paypal.svg" alt="PayPal" />

          <div class="method-info">
            <strong>PayPal</strong>
            <span>Schnell & Sicher</span>
          </div>

          <span class="custom-radio"></span>
        </label>

        <label class="method">
          <input type="radio" name="payment" value="bank" (change)="setPaymentMethod('bank')" />

          <div class="method-info">
            <strong>Banküberweisung</strong>
            <span>Manuelle Verifizierung</span>
          </div>

          <span class="custom-radio"></span>
        </label>
      </div>

      <div class="payment-text" [ngClass]="{ 'show-text': selectedPayment === 'paypal' }">
        Zum Abschluss dieser Transaktion wirst du auf die sicheren Server von PayPal weitergeleitet.
      </div>
      <div class="payment-text" [ngClass]="{ 'show-text': selectedPayment === 'bank' }">
        Du erhältst von uns eine Rechnung. Sobald du uns die Überweisungsbestätigung sendest,
        bekommst du sofort die Freischaltung.
      </div>

      <!-- Discount -->
      <h3>Gutschein</h3>

      <div class="discount">
        <input type="text" placeholder="Dein Gutschein" #discountInput />
        <button (click)="checkDiscountCode(discountInput.value)">Apply</button>
      </div>

      @if (showConfirmation) {
        @if (discountCodeConfirmed) {
          <div class="discount-success">
            ✔ {{ discountCode()?.code }} aktiviert -
            {{ discountAmount() | number: '1.2-2' }} gespart!
          </div>
        } @else {
          <div class="discount-error">
            <img src="./assets/xbox-x.svg" alt="" />
            {{ discountCode()?.code }} nicht aktiv
          </div>
        }
      }
    </div>

    <!-- ORDER SUMMARY -->
    <div class="checkout-right">
      <div class="summary">
        <h3>Bestellübersicht</h3>

        <div class="summary-product">
          <div class="product-img"></div>
          <div>
            <strong>{{ course()?.name }}</strong>
            <span>Beschrenkte Zugang • {{ course()?.features?.length }} Lessons</span>
          </div>
        </div>

        <div class="summary-prices">
          <div>
            <span>Kurspreis</span>

            <span>{{ course()?.price | number: '1.2-2' }} €</span>
          </div>
          <div class="discount">
            @if (discountCode()) {
              <span>Rabatt ({{ discountCode()?.percent_value }}%)</span>
              <span>- {{ discountAmount() | number: '1.2-2' }} €</span>
            }
          </div>
          <div>
            <span>{{ tax()?.name }} ({{ tax()?.percent | number: '1.2-2' }}%)</span>
            @if (discountCode()) {
              <span>{{ taxAmountWithDiscount() | number: '1.2-2' }} €</span>
            } @else {
              <span>{{ taxAmount() | number: '1.2-2' }} €</span>
            }
          </div>
        </div>

        <div class="total">
          <span>Gesamt</span>
          @if (discountCode()) {
            <strong>{{ grossPriceWithDiscount() | number: '1.2-2' }} €</strong>
          } @else {
            <strong>{{ grossPrice() | number: '1.2-2' }} €</strong>
          }
        </div>

        <button type="submit" (click)="submitOrder()" class="purchase-btn main-btn-start-in-krypto">KAUFEN →</button>

        <div class="guarantees">
          <span class="icon-text">
            <img width="25" height="25" src="./assets/secure.svg" alt="" />
            SSL-verschlüsselte, sichere Zahlung</span
          >
          <span class="icon-text">
            <img width="25" height="25" src="./assets/time.svg" alt="" />
            30 Tage Geld-zurück-Garantie</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
