@use "./../../basic";

section {
    display: flex;
    flex-direction: column;
    height: 100%;
}

table { 
    border-radius: 10px; 
    border-spacing: 0; 
    border-collapse: separate; 
    width: 100%;
}

thead tr td {
    background-color: basic.$body-bg;
    text-align: center;
}

td{
    border: 1px solid #ddd;
    padding: 8px;
    background-color: basic.$thirteenth;
}

tr:hover td {
    background-color: basic.$body-bg;
}

tr td {
    border-right: none;
    border-left: none;
    border-bottom: none;
    text-align: center;
}


table thead tr td:first-child {
    border-top-left-radius:10px
}

table thead tr td:last-child {
    border-top-right-radius:10px
}

table tbody tr:last-child td:first-child {
    border-bottom-left-radius:10px
}

table tbody tr:last-child td:last-child {
    border-bottom-right-radius:10px
}

table tbody tr:last-child td {
    border-bottom: 1px solid #ddd;
}


table thead tr td:first-child,
table tbody tr td:first-child {
    border-left: 1px solid #ddd;
}

table thead tr td:last-child,
table tbody tr td:last-child {
    border-right: 1px solid #ddd;
}

table tbody tr {
    height: 2rem;
}

.crmSK-icon-three-dots{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    transition: basic.$first-transition;
}

.crmSK-icon-three-dots:hover {
    background-color: rgb(196, 196, 196);;
}