@use './../../../basic';

// HEADER

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  width: 100%;
  padding-inline: 1.5rem;
  margin-inline: 1rem;
  background: basic.$sixth;
  border-radius: basic.$border-radius;
  padding: 3rem 3rem;
  margin: auto;
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);
}

.main-nav .logo {
  display: flex;
  align-items: center;
  z-index: 2;
  font-weight: 600;
  font-size: 1.4375rem;
  color: var(--letter-color);
  mix-blend-mode: multiply;
  outline: transparent;
  border: 2px solid transparent;
}

.main-nav .logo:focus {
  border: 2px dotted var(--primary);
  outline: var(--primary);
}

.logo:focus-visible {
  outline: none;
  border: 2px solid transparent;
}

.main-nav .logo img {
  height: 4rem;
  padding: 0.2rem;
}

.main-nav .logo img:hover {
  filter: drop-shadow(2px 4px 6px var(--primary));
}

.main-nav ul {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  list-style-type: none;
}

.main-nav ul li .nav-link {
  position: relative;
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: clamp(1rem, 0.5vw, 2rem);
  height: 2rem;
  line-height: 1.725rem;
  color: inherit;
  transition: all 125ms ease-in;
  border: 0.125rem dotted transparent;
}

.main-nav ul li .nav-link:focus-visible {
  border: 0.125rem dotted var(--primary);
  outline: var(--primary);
}

.main-nav ul li .nav-link:active {
  border: 0.125rem dotted transparent;
}

.main-nav ul li .nav-link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--letter-color);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 125ms ease-in-out;
}

.main-nav ul li .nav-link:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.main-nav ul li {
  opacity: 1;
  transition: opacity 125ms ease-in-out;
}

.main-nav ul:hover > li:not(:hover) {
  opacity: 0.3;
}

.main-nav ul .languages {
  transform: translateY(-5px);
  column-gap: 1.25rem;
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4375rem;
}

.main-nav ul .languages button {
  display: flex;
  color: var(--primary);
  cursor: pointer;
  border: solid 2px transparent;
  border-radius: 0.5rem;
  line-height: normal;
  padding: 2px;
}

.main-nav ul .languages button:hover {
  font-weight: 700;
}

.main-nav ul .languages button:focus {
  font-weight: 700;
}

.main-nav ul .languages .selected {
  border: solid 2px var(--primary);
  border-radius: 0.5rem;
  line-height: normal;
  padding: 2px;
}

.main-nav button {
  display: none;
  background: none;
  z-index: 1;
}
