@use './../../../basic';
@use '../../shared/header/header';

// HEADER

// 

.main-nav {
  width: 100%;
}


app-logo-text {
  display: none;
}

@media (max-width: 500px) {
  app-logo-text {
    display: none;
  }
  app-logo {
    display: flex;
  }
}
