@use './../../basic';

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 26.25rem;
  margin-bottom: 1rem;
}

.error {
  color: #d9534f;
  font-size: 0.9rem;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 26.25rem;
    height: 30px;
    border: 1px solid basic.$border-color;
    background-color: basic.$thirteenth;
    padding: 1rem;
    padding-block: 1.5rem;
    cursor: pointer;
    span {
      margin-left: auto;
    }
  }
}

.checkboxes input[id='summe'] {
  border: 1px solid basic.$border-color;
  padding-inline: 0.5rem;
  margin-left: 0.5rem;
  max-width: 100%;
}

input[id='summe']::-webkit-outer-spin-button,
input[id='summe']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[id='summe'][type='number'] {
  -moz-appearance: textfield;
}

input[id='summe'] {
  padding-inline: 0.5rem;
}

input[id='summe']:focus {
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px basic.$primary;
  box-shadow: inset 0 1px 1px #00000013, 0 0 8px var basic.$primary;
}

input[type='checkbox'] {
  appearance: none;
  background-color: #fff;
  font: inherit;
  color: basic.$secondary;
  width: 1rem;
  height: 1rem;
  border: 0.15em solid basic.$secondary;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type='checkbox']::before {
  content: '';
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: basic.$first-transition;
  box-shadow: inset 1em 1em basic.$secondary;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type='checkbox']:checked::before {
  transform: scale(1);
}

.summary {
  display: flex;
  flex-direction: column;
  border: 1px solid basic.$border-color;
  border-radius: basic.$border-radius;
  padding: 1rem;
  background-color: basic.$thirteenth;
  width: 50%;
  gap: 1rem;
  margin-bottom: 1rem;
  tr {
    td {
      &:first-child {
        float: left;
        max-width: 23rem;
        width: 100%;
        padding: 0;
        margin: 0;
      }
      &:last-child {
        float: right;
        padding: 0;
        margin: 0;
      }
    }
  }
  .divider {
    height: 1rem;
    background-color: basic.$border-color;
  }
  .first-part {
    font-weight: 700;
  }
}

// SEARCH

.search-container {
  position: relative;
  width: 260px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  font-size: 14px;
}

input:focus {
  border-color: basic.$primary;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: basic.$thirteenth;
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-height: 180px;
  overflow-y: auto;
  z-index: 1000;
}

.dropdown li {
  padding: 8px 10px;
  cursor: pointer;
  transition: background 0.2s;
}

.dropdown li:hover {
  background: #f2f2f2;
}

// INVOICE
.invoice-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  width: 210mm; /* A4 width */
  min-height: 297mm; /* A4 height */
  padding: 25mm; /* nice margins */
  margin: auto;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  padding: 40px;
}

.invoice-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #f1f1f1;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

address {
  font-style: normal;
}

.company-info h1 {
  margin: 0;
  font-size: 1.4rem;
}

.invoice-info {
  text-align: right;
}

.invoice-info h2 {
  color: #f4a51c;
  margin: 0;
  font-size: 1.6rem;
}

.bill-to h3 {
  margin-bottom: 6px;
  color: #555;
}

.invoice-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.invoice-table th {
  text-align: left;
  background: #fafafa;
  padding: 10px;
  border-bottom: 2px solid basic.$border-color;
}

.invoice-table td {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.invoice-table td:last-child,
.invoice-table th:last-child {
  text-align: right;
}

.totals {
  text-align: right;
  margin-top: 20px;
}

.totals span:nth-of-type(2n) {
  text-align: right;
}

.totals p,
.totals h3 {
  margin: 4px 0;
}

.totals span {
  display: inline-block;
  width: 130px;
  text-align: left;
}

.totals h3 {
  font-size: 1.2rem;
  color: #f4a51c;
  margin-top: 10px;
}

footer {
  margin-top: 30px;
  font-size: 0.9rem;
  color: #555;
  border-top: 1px solid #eee;
  padding-top: 15px;
}

.pay-btn {
  background-color: #f4a51c;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  padding: 12px 30px;
  cursor: pointer;
  margin-top: 20px;
}

.pay-btn:hover {
  background-color: #e3950f;
}

.hide-invoice {
  display: flex;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: -100;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.9);
  transition: all 0.5s ease;
}
.show-invoice {
  opacity: 1;
  visibility: visible;
  z-index: 1000;
  pointer-events: auto;
  overflow-y: scroll;
}