<h1 class="title">Algorithmus</h1>

<form [formGroup]="algorithmusForm">
<search class="search-container">
  <input
    type="text"
    placeholder="Kunden..."
    formControlName="cutomerName"
    (input)="onSearchChange()"
    (focus)="onFocus()"
    (blur)="hideDropdown()"
  />
  @if (cutomerName?.touched && cutomerName?.invalid) {
    <div class="error">
      @if (cutomerName?.errors?.['required']) {
        Kunde kann nicht leer sein
      }
    </div>
  }

  @if (showDropdown) {
  <ul class="dropdown">
    @for (customer of filteredCustomers; track customer.id) {
    <li (click)="selectCustomer(customer)">{{ customer.first_name }} {{ customer.last_name }}</li>
    }
  </ul>
  }
</search>

  <div>
    <label for="summe">Summe (€):</label>
    <input (keyup)="onFormChange()" id="summe" type="number" formControlName="Summe" placeholder="z. B. 1000" />

    @if (Summe?.touched && Summe?.invalid && Summe?.dirty) {
    <div class="error">
      @if (Summe?.errors?.['required']) {
      <small>Summe ist erforderlich.</small>
      } @if (Summe?.errors?.['min']) {
      <small>Mindestwert ist 1 €.</small>
      } @if (Summe?.errors?.['pattern']) {
      <small>Bitte gültige Zahl eingeben (z. B. 1000.50).</small>
      }
    </div>
    }
  </div>

  <div class="checkboxes">
    @for (service of serviceCatalog(); track service.id) {
    <label [for]="service.id">
      <input
        type="checkbox"
        [id]="service.id"
        [formControlName]="service.id ?? ''"
        (change)="onFormChange()"
      />

      {{ service.name }}

      @if (service.amount_fixed !== null) {
      <span> {{ service.amount_fixed | number : '1.2-2' }} € </span>
      } @else {
      <span> {{ service.amount_percent | number : '1.2-2' }} % </span>
      }
    </label>
    }
  </div>
</form>

<section class="summary">
  <h2>Zusammenfassung</h2>
  <table>
    <thead>
      <tr>
        <td class="first-part">Leistung</td>
        <td class="first-part">Gebühr</td>
      </tr>
    </thead>
    <div class="divider"></div>
    <tbody>
      @for (service of invoiceObject.services; track service.id) {
      <tr>
        @if (service.amount_fixed === null) {
        <td>{{ service.name }} {{ service.amount_percent | number : '1.2-2' }} %</td>

        <td>{{ (+service.amount_percent! * invoiceObject.investitions_amount) / 100 | number : '1.2-2' }}</td>
        } @else {
        <td>{{ service.name }}</td>
        <td>{{ service.amount_fixed | number : '1.2-2' }} €</td>
        }
      </tr>
      }

      <div class="divider"></div>

      <tr>
        <td>Investitions Betrag</td>
        <td>{{ invoiceObject.investitions_amount| number : '1.2-2' }} €</td>
      </tr>

      <tr>
        <td>Provison ({{totalProvisonPercent}}%)</td>
        <td>{{ invoiceObject.provision| number : '1.2-2' }} €</td>
      </tr>

      <div class="divider"></div>

      <tr>
        <td>Mehrwertsteuer(19%)</td>
        <td>{{ invoiceObject.value_tax| number : '1.2-2' }} €</td>
      </tr>

      <div class="divider"></div>

      <tr>
        <td>Total Betrag</td>
        <td>{{ invoiceObject.amount| number : '1.2-2' }} €</td>
      </tr>
    </tbody>
  </table>
</section>
<div class="btn-container">
  <button (click)="openDialog()" type="submit">
    Vorschau
  </button>
  <button (click)="openDialog()" type="submit" [disabled]="!algorithmusForm.valid">
    Erstellen
  </button>
</div>

<section
  class="hide-invoice"
  [ngClass]="isInvoiceVisible ? 'show-invoice' : ''"
  (click)="closeDialog()"
>
  <div class="invoice-container" (click)="onEvent($event)">
    <header class="invoice-header">
      <div class="company-info">
        <h1>{{ companyControl.company()?.name }}</h1>
        <p>
          {{ companyControl.company()?.street }} {{ companyControl.company()?.number }}<br />{{
            companyControl.company()?.postcode
          }}
          {{ companyControl.company()?.city }}
        </p>
      </div>
      <a href="/" class="logo">
        <img width="60" height="60" src="./assets/SK-metatag.png" alt="Start in Krypto" />
      </a>
      <div class="invoice-info">
        <h2>RECHNUNG</h2>
        <p>Rechnung Nr.: {{ invoiceNumber }}</p>
        <p>Kundennr.: {{ customerNumber }}</p>
        <p>Date: {{ currentDate | date : 'dd.MM.yyyy' }}</p>
      </div>
    </header>

    <div class="bill-to">
      <h3>Rechnung an:</h3>
      <address>
        <strong>{{ customerNameInvoice }}</strong
        ><br />
        {{ customerStreetInvoice }}<br />
        {{ customerCityInvoice }}
      </address>
    </div>

    <table class="invoice-table">
      <thead>
        <tr>
          <th>Service</th>
          <th>Provison</th>
          <th>Gebühr</th>
        </tr>
      </thead>
      <tbody>
        @for (service of invoiceObject.services; track service.id) {
      <tr>
        @if (service.amount_fixed === null) {
        <td>{{ service.name }} </td>

        <td>{{ service.amount_percent | number : '1.2-2' }} %</td>

        <td>{{ (+service.amount_percent! * invoiceObject.investitions_amount) / 100 | number : '1.2-2' }} €</td>
        } @else {
        <td>{{ service.name }}</td>
        <td></td>
        <td>{{ service.amount_fixed | number : '1.2-2' }} €</td>
        }
      </tr>
      }

      </tbody>
    </table>

    <div class="totals">
      <p>
        <span>Investitions Betrag:</span> <span>{{ invoiceObject.investitions_amount| number : '1.2-2' }} €</span>
      </p>
      <p>
        <span>Provison ({{totalProvisonPercent}}%):</span> <span>{{ invoiceObject.provision| number : '1.2-2' }} €</span>
      </p>
      <p>
        <span>MwSt. (19%):</span> <span>{{ invoiceObject.value_tax| number : '1.2-2' }} €</span>
      </p>
      <h3>
        <span>Total:</span> <span>{{ invoiceObject.amount| number : '1.2-2' }} €</span>
      </h3>
    </div>

    <footer>
      <p>
        Bitte überweisen Sie den Gesamtbetrag innerhalb von 14 Tagen nach Erhalt dieser Rechnung.
        Zahlungen können per Banküberweisung oder in Kryptowährung erfolgen. Bei Fragen zu dieser
        Rechnung kontaktieren Sie uns bitte unter:
        <a href="mailto:elisabeth@startinkrypto.de">elisabeth@startinkrypto.de</a>.
      </p>
      <p>BLZ: {{ companyControl.company()?.swift_code }}</p>
      <p>
        Bankverbindung: {{ companyControl.company()?.bank_account }}, USt-Idnr:
        {{ companyControl.company()?.tax_number }}
      </p>
    </footer>
  </div>
</section>
