<a class="arrow-back" routerLink="/customer/my-courses">
  <app-back></app-back>
</a>

<h1>Kurs - Basic</h1>

<div class="main-container">
  <!-- HERE -->

  <div class="video-content">
    @if (selectedLessonId) {
        <div class="video">
            <h2>{{ order | number: '1.0' }} - {{ title }}</h2>
            <video #videoPlayer [src]="selectedVideo" controls width="10000" loop></video>
        </div>
        <div class="video-info">
            <input id="checkbox" type="checkbox">
            <p class="description">{{ description }}</p>
            <p class="description-under-video">
            {{ description_under_video }}
            <label class="more" for="checkbox">mehr</label>
            </p>
            
            @for (pdf of pdfs; track pdf.id) {
                <div class="pdf">
                    <a class="pdf" [href]="pdf.file" target="_blank" rel="noopener">
                        {{ pdf.title }}
                    </a>
                </div>
            }
            
            <label class="less" for="checkbox">Weniger anzeigen</label>
        </div>
    }
  </div>

  <div class="container">
    <div class="header">
      <h2>Videos</h2>
    </div>

    <ul class="lesson-list">
      @for (lesson of lessons(); track lesson.id) {
        <li>
          <a
            class="lesson"
            [routerLink]="[
              '/customer',
              'my-courses',
              courseId,
              'list-of-lessons',
              'lesson',
              lesson.id,
            ]"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="selectLesson(lesson)"
          >
            <div class="left">
              <img src="./assets/movie.svg" alt="" />
              <div>
                <strong>{{ lesson.order | number: '1.0' }} - {{ lesson.title }}</strong>
                <small>{{ lesson.description }}</small>
              </div>
            </div>
            <span class="meta">
              {{ lesson.duration | duration }}
            </span>
          </a>
        </li>
      }
    </ul>
  </div>
</div>
