@use './../../../basic';

.main-button {
  background: linear-gradient(180deg, basic.$primary, basic.$secondary);
  color: basic.$main;
  border-radius: basic.$border-radius;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  transition: basic.$first-transition;
  width: fit-content;
  gap: 0.5rem;
  text-decoration: none;
  text-align: center;
}

::ng-deep .main-button.general-button {
  position: fixed;
  bottom: 1.5625rem;
  right: 1.5625rem;
  z-index: 1000;
  opacity: .5;
  transition: basic.$first-transition;
}

::ng-deep .main-button.general-button:hover {
  opacity: 1;
}

::ng-deep .main-button-header .main-button-text,
::ng-deep .main-button.general-button .main-button-text {
  display: none !important;
}

.main-button svg path {
  color: basic.$main;
  transition: basic.$first-transition;
}


.main-button:focus-visible {
  outline: var(--focus);
}

.main-button:hover {
  color: basic.$sixth;
}

.main-button:hover svg path {
  color: basic.$sixth;
}

.main-button svg {
  min-width: 25px;
  min-height: 25px;
}

.main-button .main-button-text span {
  display: contents;
  font-weight: bold;
}


.main-button.header-button span,
.main-button.general-button span {
  display: flex;
}

.main-button.header-button {
  margin-left: 1rem;
}