<section class="main-content-customer">
    <div class="form-title">
      <h1 class="form-title-name">Anmeldung</h1>
    </div>

  <p class="description">Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</p>
  <p class="description">Hast du kein konto? <a class="new-user-link" routerLink="/register">Konto erstellen</a></p>

  <!-- form container -->
  <form [formGroup]="loginForm" (ngSubmit)="loginWithEmailAndPassword('Du bist angemeldet')">
    <div class="input-container">
      <label class="visually-hidden" for="userEmail">E-Mail-Adresse</label>
      <input class="input-field" id="userEmail" type="email" formControlName="userEmail"
        placeholder="beispielname@email.com" autocomplete="username"/>
        <div class="input-icon">
          <img src="./assets/mail-icon-input-field.svg" alt="e-mail">
        </div>
        <div class="warn-txt"> 
          <!-- @if(fb.errorMessageLogin()){
          <span>{{ fb.errorMessageLogin() }}</span>
          } -->
        @if (loginForm.controls['userEmail'].invalid && (loginForm.controls['userEmail'].touched || loginForm.controls['userEmail'].dirty)) {
        @if (loginForm.controls['userEmail'].errors?.['required']) {
        <span>E-Mail ist ein Pflichtfeld.</span>
          }
        @if (loginForm.controls['userEmail'].errors?.['email']) {
          <span>E-Mail ist unvollständig/inkorrekt.</span>
        }
      }
      </div>
    </div>
    
    <div class="input-container">

        <label class="visually-hidden" for="password">Passwort</label>
        <input autocomplete="current-password" id="password" class="input-field input-field-eye-icon" [type]="isPasswordVisible ? 'text' : 'password'" formControlName="password"
          placeholder="Passwort"/>

          <button class="eye-button" (click)="togglePasswordVisibility($event)">
            <i class="pwd-eye" [ngClass]="{'eye-closed': !isPasswordVisible, 'eye-open': isPasswordVisible}" ></i>
          </button>

          <div class="input-icon">
          <img src="./assets/pwd-lock-icon-input-field.svg" alt="passwort">
        </div>
        <div class="warn-txt warn-txt-hight">

          @if (loginForm.controls['password'].invalid && (isFormSubmitted || loginForm.controls['password'].touched || loginForm.controls['password'].dirty)) {
            @if (loginForm.controls['password'].errors?.['required']) {
            <span>Password ist ein Pflichtfeld.</span>
            }
            @if (loginForm.controls['password'].errors?.['minlength']) {
            <span id="password-error">
              Mindestens 8 Zeichen erforderlich: ein Klein- u. ein Großbuchstabe, eine Zahl und ein Sonderzeichen.</span>
            }
            @if ((loginForm.controls['password'].errors?.['pattern']) && !(loginForm.controls['password'].errors?.['minlength'])) {
            <span>Mindestanforderungen nicht erfüllt.</span>
            }
          }
        </div>
    </div>

    <div class="btn-container">
      <button class="login-btn" type="submit">Anmelden</button>
    </div>

    <!-- pwd recovery link -->
    <a class="btn-password" routerLink="/recovery-password">Passwort vergessen?</a>
    <!-- separator -->
    <div class="seperator-container">
      <span class="sep-line-txt">ODER</span>
  </div>
  <!-- goggle btn -->
  </form>

  <a class="input-focus btn-google"
  (click)="createNewUserWithGoogle()">
  <img src="/assets/google-logo-icon.svg" alt="google logo">
  Anmeldung mit Google
  </a>
</section>