<div class="container-preise">
  <h2>Leistungsübersicht</h2>

  <div class="main-wrapper">
    <div class="wrapper-content" [ngClass]="showEdit ? 'show-edit' : ''">
      <div class="container-prices">
        <table class="price-table">
          <thead>
            <tr>
              <th>Leistung</th>
              <th>Preis</th>
            </tr>
          </thead>
          <tbody>
            @for (service of serviceCatalog() ; track service.id) {
            <tr>
              <td>{{ service.service_name }}</td>
              @if(service.provision_fixed === null) {
              <td>{{ service.provision_percent | number : '1.2-2' }} %</td>

              } @else {
              <td>{{ service.provision_fixed | number : '1.2-2' }} €</td>
              }
            </tr>

            }
          </tbody>
        </table>
        <button class="edit" (click)="editDetails()">EDIT</button>
      </div>

      <!-- EDIT -->
      <div class="container-edit">
        <form [formGroup]="algorithmusForm" (ngSubmit)="onSubmit()">
          <div class="services" formArrayName="services">
            @for (service of services.controls; track service) {
              <div class="service" [formGroupName]="$index">
                <!-- Name -->
              <div class="form-group">
                <!-- <label for="service_name">Name</label> -->
                <input
                  id="service_name"
                  type="text"
                  class="form-control"
                  formControlName="service_name"
                  placeholder="service"
                />

                @if ( service.get('service_name')?.invalid && (service.get('service_name')?.touched ||
                service.get('service_name')?.dirty) ) {
                <div class="text-requied">
                  @if (service.get('service_name')?.errors?.['required']) {
                  <small>Name ist erforderlich.</small>
                  } @if (service.get('service_name')?.errors?.['maxlength']) {
                  <small>Name darf maximal 200 Zeichen lang sein.</small>
                  }
                </div>
                }
              </div>

              <!-- Provision Type -->
              <div class="form-group">
                <!-- <label for="provision_type">Provision type</label> -->
                <select id="provision_type" class="form-control" formControlName="provision_type">
                  <option value="">Keine Angabe</option>
                  @for (type of provisionTypes; track type.value) {
                  <option [value]="type.value">
                    {{ type.label }}
                  </option>
                  }
                </select>
              </div>

              <!-- Fixed amount -->
              @if (isFixed($index)) {
              <div class="form-group">
                <!-- <label for="provision_fixed">Fixed amount (€)</label> -->
                <input
                  id="provision_fixed"
                  type="number"
                  step="0.01"
                  class="form-control"
                  formControlName="provision_fixed"
                  placeholder="Festbetrag (€)"
                />

                @if ( service.get('provision_fixed')?.invalid && (service.get('provision_fixed')?.touched
                || service.get('provision_fixed')?.dirty) ) {
                <div class="text-requied">
                  @if (service.get('provision_fixed')?.errors?.['required']) {
                  <small>Fixbetrag ist erforderlich.</small>
                  } @if (service.get('provision_fixed')?.errors?.['min']) {
                  <small>Fixbetrag muss größer als 0 sein.</small>
                  } @if (service.get('provision_fixed')?.errors?.['pattern']) {
                  <small>Ungültiges Zahlenformat (z. B. 700.00).</small>
                  }
                </div>
                }
              </div>
              }

              <!-- Percent amount -->
              @if (!isFixed($index)) {
              <div class="form-group">
                <!-- <label for="provision_percent">Percent (decimal)</label> -->
                <input
                  id="provision_percent"
                  type="number"
                  step="0.0001"
                  class="form-control"
                  formControlName="provision_percent"
                  placeholder="Prozent (decimal)"
                />
                @if ( service.get('provision_percent')?.invalid &&
                (service.get('provision_percent')?.touched || service.get('provision_percent')?.dirty) ) {
                  <div class="text-requied">
                    @if (service.get('provision_percent')?.errors?.['required']) {
                  <small>Prozentwert ist erforderlich.</small>
                  } @if ( service.get('provision_percent')?.errors?.['min'] ||
                  service.get('provision_percent')?.errors?.['max'] ) {
                  <small>Wert muss zwischen 0 und 1 liegen (z. B. 0.05).</small>
                  } @if (service.get('provision_percent')?.errors?.['pattern']) {
                  <small>Ungültiges Dezimalformat.</small>
                  }
                </div>
                }
              </div>
            }
            <button type="button" (click)="deleteService(service)">Löschen</button>
            </div>
            }
            <button type="button" (click)="addService()" [disabled]="!algorithmusForm.valid">
              Neue
            </button>
          </div>
          <div class="btn-container">
            <!-- Cancel Button -->
            <button type="button" (click)="onCancel()">Abbrechen</button>

            <!-- Submit Button -->
            <button type="submit">Speichern</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
