.main-content-customer {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  max-width: 37.875rem;
  width: 100%;
  background-color: #fff;
  border-radius: 1.25rem;
  padding: 2.5rem;
  margin: 0.625rem;
}
.main-content-customer .form-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 2.5rem;
  margin-bottom: 1.875rem;
}
.main-content-customer .form-title .form-title-name {
  color: #d6a553;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  line-height: normal;
}
.main-content-customer .form-title .info-container {
  background: none;
  width: 2rem;
  height: 2rem;
}
.main-content-customer .form-title .info-icon {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: pulse-effect 2s infinite;
}
.main-content-customer .description {
  text-align: center;
  margin-bottom: 1.875rem;
}
.main-content-customer form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-content-customer form .input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.main-content-customer form .input-field {
  background-color: #f8f7f6;
  border: solid 0.0625rem #f8f7f6;
  padding-left: 5.3125rem;
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
  width: 100%;
  height: 3.07rem;
  border-radius: 0.625rem;
  transition: all 200ms ease-in-out;
}
.main-content-customer form .input-field:hover {
  border: solid 0.0625rem #8f5907;
}
.main-content-customer form .input-field:focus {
  border: solid 0.0625rem #8f5907;
  outline: #8f5907;
}
.main-content-customer form .input-icon {
  position: absolute;
  top: 2.375rem;
  left: 0;
  padding: 0 1.5625rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.main-content-customer form .eye-button {
  position: absolute;
  top: 2.275rem;
  right: 0;
  padding: 0 1.5625rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: none;
}
.main-content-customer form .match {
  height: 1.125rem;
}
.main-content-customer form .btn-password {
  display: flex;
  justify-content: center;
  background: none;
  color: #d6a553;
  text-decoration: none;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.3125rem 0.9375rem;
  border-radius: 0.625rem;
  margin-bottom: 30px;
  border: solid 0.0625rem transparent;
  transition: all 200ms ease-in-out;
}
.main-content-customer form .btn-password:hover {
  color: #d6a553;
  background: #f8f7f6;
}
.main-content-customer form .btn-password:focus {
  color: #d6a553;
  background: #f8f7f6;
  border: solid 0.0625rem #8f5907;
  outline: #8f5907;
}
.main-content-customer .eye-pos {
  top: 13%;
  left: 89%;
}
.main-content-customer p {
  text-align: center;
  margin-bottom: 1.875rem;
}
.main-content-customer .btn-container {
  display: flex;
  justify-content: center;
  gap: 1.875rem;
  margin-top: 1.875rem;
  width: 100%;
}
.main-content-customer .btn-container .forward-btn {
  display: flex;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 700;
  font-size: 1.125rem;
  gap: 0.625rem;
  padding: 0.75rem 1.5625rem;
  border: solid 0.0625rem transparent;
  border-radius: 0.625rem;
  color: #f4f4f4;
  background-color: #d6a553;
  margin-left: auto;
  margin-top: auto;
  transition: all 175ms ease-in-out;
}
.main-content-customer .btn-container .forward-btn:hover {
  border: solid 0.0625rem #d6a553;
  background-color: #f8f7f6;
  color: #d6a553;
}
.main-content-customer .btn-container .forward-btn:focus {
  border: solid 0.0625rem #d6a553;
  background-color: #f8f7f6;
  color: #d6a553;
}/*# sourceMappingURL=reset-password.css.map */