@use './../../../basic';

.main-content-customer {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  max-width: 37.875rem;
  width: 100%;
  background-color: #fff;
  border-radius: 1.25rem;
  padding: 2.5rem;
  margin: 0.625rem;
  .form-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 2.5rem;
    margin-bottom: 1.875rem;
    .form-title-name {
      color: basic.$primary;
      font-size: 1.8rem;
      font-weight: 700;
      text-align: center;
      line-height: normal;
    }
    .info-container {
      background: none;
      width: 2rem;
      height: 2rem;
    }

    .info-icon {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      animation: pulse-effect 2s infinite;
    }
  }
  .description {
    text-align: center;
    margin-bottom: 1.875rem;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .input-container {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      label {
        // margin-bottom: 1.875rem;
      }
    }
    .input-field {
      background-color: basic.$body-bg;
      border: solid 0.0625rem basic.$body-bg;
      padding-left: 5.3125rem;
      padding-top: 1.125rem;
      padding-bottom: 1.125rem;
      width: 100%;
      height: 3.07rem;
      border-radius: basic.$border-radius;
      transition: basic.$first-transition;
      &:hover {
        border: solid 0.0625rem basic.$secondary;
      }
      &:focus {
        border: solid 0.0625rem basic.$secondary;
        outline: basic.$secondary;
      }
    }

    .input-icon {
      position: absolute;
      top: 2.375rem;
      left: 0;
      padding: 0 1.5625rem;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }

    .eye-button {
      position: absolute;
      top: 2.275rem;
      right: 0;
      padding: 0 1.5625rem;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background: none;
    }

    .match {
      height: 1.125rem;
    }

    .btn-password {
      display: flex;
      justify-content: center;
      background: none;
      color: basic.$primary;
      text-decoration: none;
      width: fit-content;
      padding: 0.3125rem 0.9375rem;
      border-radius: basic.$border-radius;
      margin-bottom: 30px;
      border: solid 0.0625rem transparent;
      transition: basic.$first-transition;
      &:hover {
        color: basic.$primary;
        background: basic.$body-bg;
      }
      &:focus {
        color: basic.$primary;
        background: basic.$body-bg;
        border: solid 0.0625rem basic.$secondary;
        outline: basic.$secondary;
      }
    }
  }
  .eye-pos {
    top: 13%;
    left: 89%;
  }

  p {
    text-align: center;
    margin-bottom: 1.875rem;
  }

  .btn-container {
    display: flex;
    justify-content: center;
    gap: 1.875rem;
    margin-top: 1.875rem;
    width: 100%;

    .forward-btn {
      display: flex;
      justify-content: center;
      width: fit-content;
      font-weight: 700;
      font-size: 1.125rem;
      gap: 0.625rem;
      padding: 0.75rem 1.5625rem;
      border: solid 0.0625rem transparent;
      border-radius: basic.$border-radius;
      color: basic.$thirteenth;
      background-color: basic.$primary;
      margin-left: auto;
      margin-top: auto;
      transition: all 175ms ease-in-out;
      &:hover {
        border: solid 0.0625rem basic.$primary;
        background-color: basic.$body-bg;
        color: basic.$primary;
      }
      &:focus {
        border: solid 0.0625rem basic.$primary;
        background-color: basic.$body-bg;
        color: basic.$primary;
      }
    }
  }
}
