<section class="main-content-customer">
  <div class="form-title">
    <a class="arrow-back" routerLink="/login">
      <app-back></app-back>
    </a>

    <h1 class="form-title-name">Passwort zurücksetzen</h1>

    <button class="info-container">
      <img
        id="info-icon"
        class="pulse info-icon"
        src="/assets/media/icons/info_symbol-icon.png"
        alt="info icon"
      />
    </button>
  </div>

  <form [formGroup]="resetForm" (ngSubmit)="submit()">
    <div class="input-container">
      <label class="" for="password1">Passwort</label>
      <input
        name="password1"
        id="password1"
        class="input-field"
        [type]="isPasswordTopVisible ? 'text' : 'password'"
        placeholder="Neues Passwort"
        formControlName="password1"
        autocomplete="on"
      />
      <button type="button" class="eye-button" (click)="togglePasswordVisibilityTop()">
        <img
          width="25"
          height="25"
          class="pwd-eye"
          [src]="isPasswordTopVisible ? './assets/eye.svg' : './assets/eye-off.svg'"
          [alt]="isPasswordTopVisible ? 'verstecken' : 'zeigen'"
        />
      </button>

      <div class="input-icon">
        <img src="./assets/pwd-lock-icon-input-field.svg" alt="passwort" />
      </div>
      <div class="warn-txt">
        @if (resetForm.controls['password1'].invalid && (isFormValid ||
        resetForm.controls['password1'].dirty || resetForm.controls['password1'].touched)) { @if
        (resetForm.controls['password1'].errors?.['required']) {
        <span>Password ist ein Pflichtfeld.</span>
        } @if (resetForm.controls['password1'].errors?.['pattern']) {
        <span id="password-error">Password ist unvollständig/inkorrekt, siehe Info-box.</span>
        } }
      </div>
    </div>

    <div class="input-container">
      <label class="" for="password2"> Wiederhole dein Passwort</label>
      <input
        name="password2"
        id="password2"
        class="input-field"
        [type]="isPasswordBottomVisible ? 'text' : 'password'"
        placeholder="Neues Passwort"
        formControlName="password2"
        autocomplete="on"
      />
      <button type="button" class="eye-button" (click)="togglePasswordVisibilityBottom()">
        <img
          width="25"
          height="25"
          class="pwd-eye"
          [src]="isPasswordBottomVisible ? './assets/eye.svg' : './assets/eye-off.svg'"
          [alt]="isPasswordBottomVisible ? 'verstecken' : 'zeigen'"
        />
      </button>

      <div class="input-icon">
        <img src="./assets/pwd-lock-icon-input-field.svg" alt="passwort" />
      </div>
      <div class="warn-txt">
        @if (resetForm.controls['password2'].invalid && (isFormValid ||
        resetForm.controls['password2'].dirty || resetForm.controls['password2'].touched)) { @if
        (resetForm.controls['password2'].errors?.['required']) {
        <span>Password ist ein Pflichtfeld.</span>
        } @if (resetForm.controls['password2'].errors?.['pattern']) {
        <span id="password-error">Password ist unvollständig/inkorrekt.</span>
        } }
      </div>
    </div>

    <div class="warn-txt">
      @if(resetForm.errors?.['passwordMismatch'] && (resetForm.controls['password2'].dirty ||
      resetForm.controls['password2'].touched)) {
      <span> Passwörter stimmen nicht überein. </span>
      }
    </div>

    <div class="btn-container">
      <button type="submit" class="forward-btn" [disabled]="!resetForm.valid">
        Passwort ändern
      </button>
    </div>
  </form>
</section>
