@use './../../../basic';


/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  background-color: basic.$footer;
  margin-bottom: 0;
}

.footer nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.footer nav a {
  width: 4rem;
}
.footer nav ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footer nav ul li {
  transform: scale(1);
  transition: basic.$first-transition;
}

.footer nav ul li:hover {
  transform: scale(1.02);
}

.footer nav ul li a {
  color: basic.$main;
}

.footer nav ul li a:focus-visible {
  outline: basic.$focus;
}

.footer nav .social-media li a img {
  width: 2rem;
}

.footer .footer-copyright {
  font-size: clamp(0.1rem, 3vw, 1rem);
}
