<section class="main-content-customer">
  <div class="form-title">
    <h1 class="form-title-name">Anmeldung</h1>
  </div>

  <p class="description">
    Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.
  </p>
  <p class="description">
    Hast du kein konto? <a class="new-user-link" routerLink="/create-account">Konto erstellen</a>
  </p>

  <!-- form container -->
  <form [formGroup]="loginForm" (ngSubmit)="loginWithEmailAndPassword()">
    <div class="input-container">
      <label class="" for="userEmail">E-Mail-Adresse</label>
      <input
        class="input-field"
        id="userEmail"
        type="email"
        formControlName="userEmail"
        placeholder="beispielname@email.com"
        autocomplete="username"
      />
      <div class="input-icon">
        <img src="./assets/mail-icon-input-field.svg" alt="" />
      </div>
      <div class="warn-txt">
        <!-- @if(fb.errorMessageLogin()){
          <span>{{ fb.errorMessageLogin() }}</span>
          } -->
        @if (loginForm.controls['userEmail'].invalid && (loginForm.controls['userEmail'].touched ||
        loginForm.controls['userEmail'].dirty)) { @if
        (loginForm.controls['userEmail'].errors?.['required']) {
        <small>E-Mail ist ein Pflichtfeld.</small>
        } @if (loginForm.controls['userEmail'].errors?.['email']) {
        <small>E-Mail ist unvollständig/inkorrekt.</small>
        } }
      </div>
    </div>

    <div class="input-container">
      <label class="" for="password">Passwort</label>
      <input
        autocomplete="current-password"
        id="password"
        class="input-field input-field-eye-icon"
        [type]="isPasswordVisible ? 'text' : 'password'"
        formControlName="password"
        placeholder="Passwort"
      />

      <button type="button" class="eye-button" (click)="togglePasswordVisibility()">
        <img
          width="25"
          height="25"
          class="pwd-eye"
          [src]="isPasswordVisible ? './assets/eye.svg' : './assets/eye-off.svg'"
          alt=""
        />
      </button>

      <div class="input-icon">
        <img src="./assets/pwd-lock-icon-input-field.svg" alt="" />
      </div>
      <div class="warn-txt warn-txt-hight">
        @if (loginForm.controls['password'].invalid && (isFormSubmitted ||
        loginForm.controls['password'].touched || loginForm.controls['password'].dirty)) { @if
        (loginForm.controls['password'].errors?.['required']) {
        <small>Password ist ein Pflichtfeld.</small>
        } @if (loginForm.controls['password'].errors?.['minlength']) {
        <small id="password-error">
          Mindestens 8 Zeichen erforderlich: ein Klein- u. ein Großbuchstabe, eine Zahl und ein
          Sonderzeichen.</small
        >
        } @if ((loginForm.controls['password'].errors?.['pattern']) &&
        !(loginForm.controls['password'].errors?.['minlength'])) {
        <small>Mindestanforderungen nicht erfüllt.</small>
        } }
      </div>
    </div>

    <div class="btn-container">
      <button class="login-btn" type="submit">Anmelden</button>
    </div>

    <!-- pwd recovery link -->
    <a class="btn-password" routerLink="/forgot-password">Passwort vergessen?</a>

    <!-- separator -->
    <div class="seperator-container">
      <span class="sep-line-txt">ODER</span>
    </div>
  </form>

  <!-- goggle btn -->
  <a class="input-focus btn-google" (click)="createOrLoginWithGoogle()">
    <img src="./assets/google-logo-icon.svg" alt="google logo" />
    Anmeldung mit Google
  </a>
</section>
