.main-content-customer {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  max-width: 37.875rem;
  width: 100%;
  background-color: #fff;
  border-radius: 1.25rem;
  padding: 40px;
  margin: 10px;
}
.main-content-customer .form-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2.5rem;
  margin-bottom: 1.875rem;
}
.main-content-customer .form-title .form-title-name {
  color: #d6a553;
  font-size: 1.8rem;
  font-weight: 700;
}
.main-content-customer .description {
  text-align: center;
  margin-bottom: 1.875rem;
}
.main-content-customer .description .new-user-link {
  color: #d6a553;
}
.main-content-customer .description .new-user-link:hover {
  text-decoration: underline;
}
.main-content-customer form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-content-customer form .input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.main-content-customer form .input-field {
  background-color: #f8f7f6;
  border: solid 0.0625rem #f8f7f6;
  padding-left: 5.3125rem;
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
  width: 100%;
  height: 3.07rem;
  border-radius: 0.625rem;
  transition: all 200ms ease-in-out;
}
.main-content-customer form .input-field:hover {
  border: solid 0.0625rem #8f5907;
}
.main-content-customer form .input-field:focus {
  border: solid 0.0625rem #8f5907;
  outline: #8f5907;
}
.main-content-customer form input:-webkit-autofill {
  background-color: #f8f7f6;
  box-shadow: 0 0 0px 62.5rem #f8f7f6 inset;
}
.main-content-customer form .input-icon {
  position: absolute;
  top: 2.375rem;
  left: 0;
  padding: 0 1.5625rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.main-content-customer form .warn-txt-hight {
  height: 3.4375rem;
}
.main-content-customer form .eye-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  position: absolute;
  top: 2.275rem;
  right: 0;
  padding: 0 1.5625rem;
}
.main-content-customer form .btn-password {
  display: flex;
  justify-content: center;
  background: none;
  color: #d6a553;
  text-decoration: none;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.3125rem 0.9375rem;
  border-radius: 0.625rem;
  margin-bottom: 1.875rem;
  border: solid 0.0625rem transparent;
  transition: all 175ms ease-in-out;
}
.main-content-customer form .btn-password:hover {
  color: #d6a553;
  background: #f8f7f6;
}
.main-content-customer form .btn-password:focus {
  color: #d6a553;
  background: #f8f7f6;
  border: solid 0.0625rem #8f5907;
  outline: #8f5907;
}
.main-content-customer form .seperator-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 1.875rem;
}
.main-content-customer form .seperator-container::before {
  content: "";
  position: absolute;
  background-color: #f8f7f6;
  height: 0.125rem;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-content-customer form .seperator-container .sep-line-txt {
  display: flex;
  border-radius: 0.625rem;
  padding-inline: 0.9375rem;
  background-color: #f8f7f6;
  z-index: 1;
}
.main-content-customer .btn-google {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3.75rem;
  background-color: #f8f7f6;
  border-radius: 0.625rem;
  color: #d6a553;
  border: solid 0.0625rem transparent;
  transition: all 175ms ease-in-out;
}
.main-content-customer .btn-google:hover {
  border: solid 0.0625rem #8f5907;
  outline: #8f5907;
  font-weight: 500;
}
.main-content-customer .btn-google:focus {
  border: solid 0.0625rem #8f5907;
  outline: #8f5907;
}
.main-content-customer .btn-google img {
  margin-right: 1rem;
}
.main-content-customer p {
  text-align: center;
  margin-bottom: 1.875rem;
}
.main-content-customer .btn-container {
  display: flex;
  justify-content: center;
  gap: 1.875rem;
  margin-bottom: 1.875rem;
  width: 100%;
}
.main-content-customer .btn-container .login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  max-width: 10.375rem;
  width: 100%;
  font-weight: 700;
  font-size: 1.125rem;
  gap: 0.625rem;
  padding: 0.75rem 1.5625rem;
  border-radius: 0.625rem;
  color: #f4f4f4;
}
.main-content-customer .btn-container .e-mail-button {
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
}
.main-content-customer .btn-container .login-btn {
  background-color: #d6a553;
  border: solid 1px transparent;
  transition: all 200ms ease-in-out;
}
.main-content-customer .btn-container .login-btn:hover {
  border: solid 1px #d6a553;
  background-color: #f8f7f6;
  color: #d6a553;
}
.main-content-customer .btn-container .login-btn:focus {
  border: solid 1px #d6a553;
  background-color: #f8f7f6;
  color: #d6a553;
}

@media (max-width: 500px) {
  .main-content .btn-container {
    gap: 0.875rem;
  }
  .main-content .btn-container .login-btn,
  .main-content .btn-container .guest-btn {
    padding: 0.625rem 0.3125rem;
  }
  .main-content .legal-imprint-container {
    gap: 0;
  }
}/*# sourceMappingURL=login-customer.css.map */