<section class="main-content">
  <!-- RIGHT SIDE -->

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <!-- E-MAIL -->
    <div class="input-container">
      <label class="control-label required" for="email">E-Mail</label>
      <input
        class="input-field"
        type="text"
        placeholder="Enter your email"
        id="email"
        formControlName="email"
      />

      <div class="input-icon">
        <img src="./assets/mail-icon-input-field.svg" alt="" />
      </div>
      <div class="warn-txt">
        @if (loginForm.get('email')?.touched && loginForm.get('email')?.invalid) {
          <small>Email ist erforderlich.</small>
        }
      </div>
    </div>

    <!-- PASSWORD -->
    <div class="input-container">
      <label class="control-label required" for="password">Passwort</label>
      <input
        autocomplete="current-password"
        id="password"
        class="input-field"
        [type]="isPasswordVisible ? 'text' : 'password'"
        placeholder="Enter your password"
        formControlName="password"
      />
      <button type="button" class="eye-button" (click)="togglePasswordVisibility()">
        <img
          width="25"
          height="25"
          class="pwd-eye"
          [src]="isPasswordVisible ? './assets/eye.svg' : './assets/eye-off.svg'"
          alt=""
        />
      </button>

      <div class="input-icon">
        <img src="./assets/pwd-lock-icon-input-field.svg" alt="" />
      </div>
      <div class="warn-txt">
        @if (loginForm.get('password')?.touched && loginForm.get('password')?.invalid) {
          <small>
            @if (loginForm.get('password')?.errors?.['required']) {
              Passwort ist erforderlich.
            }
          </small>
        }
      </div>
    </div>

    <button type="submit" class="login-btn" [disabled]="!loginForm.valid">
      Login
    </button>
  </form>
</section>

<app-toast
  [ngClass]="{
    'show-success': mainStateService.showToast,
    'show-error': mainStateService.showError,
  }"
></app-toast>
