@use './../../../basic';

.login-container {
  width: 100%;
  max-width: 31.25rem;
  display: flex;
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
}

.right-panel {
  background: #ffffff;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.form-wrapper h1 {
  font-size: 28px;
  font-weight: 700;
  color: #333;
}

.subtitle {
  color: #7a7a7a;
  margin-bottom: 30px;
}

label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 600;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 20px;
  font-size: 14px;
}

.password-group {
  position: relative;
}

.password-group .eye {
  position: absolute;
  right: 12px;
  top: 12px;
  font-size: 18px;
  cursor: pointer;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background: #d5a753;
  border: none;
  border-radius: 6px;
  color: basic.$thirteenth;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
}
