  <section class="login-container">

    <!-- RIGHT SIDE -->
    <div class="right-panel">
      <div class="form-wrapper">
        <h1>Sign in to your account</h1>
        <p class="subtitle">Manage Your Customer Relationships.</p>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label class="control-label required" for="email">E-Mail</label>
            <input type="text" placeholder="Enter your email" id="email" formControlName="email">
            <div class="text-requied">
              @if (loginForm.get('email')?.touched && loginForm.get('email')?.invalid) {
                <small>Email ist erforderlich.</small>
              }
            </div>
          </div>

          <div class="form-group">
            <label class="control-label required" for="password">Passwort</label>
            <div class="password-group">
              <input type="password" placeholder="Enter your password" id="password" formControlName="password">
            </div>
            
            <div class="text-requied">
              @if (loginForm.get('password')?.touched && loginForm.get('password')?.invalid) {
                <small>
                  @if (loginForm.get('password')?.errors?.['required']) { 
                    Passwort ist erforderlich. 
                  }
                </small>
              }
            </div>
        </div>

          <button type="submit" class="login-btn" [disabled]="!loginForm.valid">Login</button>
        </form>

      </div>
    </div>

  </section>

  <app-toast
    [ngClass]="{
      'show-success': mainStateService.showToast,
      'show-error': mainStateService.showError
    }"
  ></app-toast>