@use './../../../basic';

.profile {
  position: absolute;
  right: 1rem;
  top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 2.5rem;
  background: basic.$body-bg;
  height: 9rem;
  width: 13rem;
  .rectangle {
    display: none;
    position: absolute;
    top: .625rem;
    left: auto;
    right: auto;
  }
  ul {
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
    font-size: 1.25rem;
    margin: 0;
    padding: 0;
    width: 100%;
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 9.375rem;
      height: 2.1875rem;
      border-radius: basic.$border-radius;
      &:hover {
        background: basic.$body-bg;
        transform: scale(1.05);
      }
      &:hover a {
        color: basic.$primary;
      }
      &:hover button {
        color: basic.$primary;
      }
      button {
        display: flex;
        align-items: center;
        gap: 1rem;
        color: basic.$main;
        width: 100%;
        height: 100%;
        background: none;
        &:focus-visible {
          outline: none;
        }
      }
      a {
        display: flex;
        align-items: center;
        color: basic.$main;
        width: 100%;
        height: 100%;
        text-decoration: none;
        gap: 1rem;
        &:focus-visible {
          outline: none;
        }
      }
    }
  }
}

// .cdk-global-overlay-wrapper {
//   max-width: 120rem;
//   margin-left: auto;
//   margin-right: auto;
//   left: 0;
//   right: 0;
// }

// ::ng-deep
//   .custom-container
//   .mat-mdc-dialog-container
//   .mdc-dialog__container
//   .mat-mdc-dialog-surface {
//   border-radius: $b-radius-1 0 $b-radius-1 $b-radius-1;
//   height: 9rem;
//   width: 13rem;
//   position: absolute;
//   top: 6.25rem;
//   right: 2.5rem;
// }