@use './../../../basic.scss';

.container-preise {
  display: flex;
  flex-direction: column;
  // margin-top: 2rem;
  font-family: 'Inter', sans-serif;

  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .price-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;

    th:first-child {
      text-align: left;
      padding: 0.75rem;
    }

    th:last-child {
      text-align: right;
      padding: 0.75rem;
    }
    td {
      text-align: left;
      padding: 0.75rem;
      border-bottom: 1px solid #ddd;
      background-color: white;
    }

    th {
      font-weight: 600;
      background-color: #f9f9f9;
    }

    td:last-child {
      text-align: right;
      font-weight: 500;
    }

    tr {
      transition: background-color 0.2s ease;

      &:hover td {
        background-color: basic.$body-bg;
      }
    }
  }
}
