@use './../../../basic.scss';

.container-preise {
  display: flex;
  flex-direction: column;
  // margin-top: 2rem;
  font-family: 'Inter', sans-serif;

  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .price-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;

    th:first-child {
      text-align: left;
      padding: 0.75rem;
    }

    th:last-child {
      text-align: right;
      padding: 0.75rem;
    }
    td {
      text-align: left;
      padding: 0.75rem;
      border-bottom: 1px solid #ddd;
      background-color: white;
    }

    th {
      font-weight: 600;
      background-color: #f9f9f9;
    }

    td:last-child {
      text-align: right;
      font-weight: 500;
    }

    tr {
      transition: background-color 0.2s ease;

      &:hover td {
        background-color: basic.$body-bg;
      }
    }
  }
}

.wrapper-content {
  display: flex;
  width: 75rem;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
  transform: translateX(0%);
  transition: basic.$first-transition;
}


.container-edit,
.container-prices {
  display: flex;
  flex-direction: column;
  width: 37.5rem;
  // height: 50rem;
  padding: 1.875rem;
  overflow: hidden;
}

.show-edit {
  transform: translateX(-50%);
}

.main-wrapper {
  display: flex;
  max-width: 600px;
  width: 100%;
  overflow-x: hidden;
  border-radius: 0.75rem;
  gap: 1rem;
}