<h1 class="title">Neuer Kunde</h1>
<form [formGroup]="newCustomerForm" (ngSubmit)="onSubmit()">

  <!-- Photo -->
  <div class="form-group">
    <label id="label-photo" for="photo">Photo:</label>
    <input type="file" id="photo" formControlName="photo" accept="image/*">
  </div>

<!-- Anrede (Title) -->
  <div class="form-group">
    <label class="control-label required" id="label-title" for="title">Anrede:</label>
    <select class="form-control" id="title" formControlName="title">
      <option value="">Keine Angabe</option>
      <option value="Herr">Herr</option>
      <option value="Frau">Frau</option>
      <option value="Divers">Divers</option>
    </select>
    @if (newCustomerForm.get('title')?.invalid && (newCustomerForm.get('title')?.touched || newCustomerForm.get('first_name')?.dirty)) {
      <div class="text-requied">
      @if (newCustomerForm.get('title')?.errors?.['required']) {
          <small>Anrede ist erforderlich.</small>
          }
      </div>
      }
  </div>

  <!-- First Name -->
  <div class="form-group">
    <label class="control-label required" id="label-first_name" for="first_name">Vorname:</label>
    <input class="form-control" type="text" placeholder="Max" id="label-first_name" formControlName="first_name">
     @if (newCustomerForm.get('first_name')?.invalid && (newCustomerForm.get('first_name')?.touched || newCustomerForm.get('first_name')?.dirty)) {
      <div class="text-requied">
      @if (newCustomerForm.get('first_name')?.errors?.['required']) {
          <small>Vorname ist erforderlich.</small>
          }
          @if (newCustomerForm.get('first_name')?.errors?.['minlength']) {
          <small>Vorname muss mindestens 2 Zeichen lang sein.</small>
        }
         @if (newCustomerForm.get('first_name')?.errors?.['pattern']) {
        <small>Vorname darf nicht nur aus Leerzeichen bestehen.</small>
      }
      </div>
      }
  
  </div>

  <!-- Name -->
  <div class="form-group">
    <label class="control-label required" id="label-last_name" for="last_name">Nachname:</label>
    <input class="form-control" type="text" placeholder="Mustermann" id="last_name" formControlName="last_name">
    @if (newCustomerForm.get('last_name')?.invalid && (newCustomerForm.get('last_name')?.touched || newCustomerForm.get('last_name')?.dirty)) {
      <div class="text-requied">
      @if (newCustomerForm.get('last_name')?.errors?.['required']) {
          <small>Nachname ist erforderlich.</small>
          }
          @if (newCustomerForm.get('last_name')?.errors?.['minlength']) {
          <small>Nachname muss mindestens 2 Zeichen lang sein.</small>
        }
         @if (newCustomerForm.get('last_name')?.errors?.['pattern']) {
        <small>Nachname darf nicht nur aus Leerzeichen bestehen.</small>
      }
      </div>
      }
  
  </div>

  <!-- Street -->
  <div class="form-group">
    <label class="control-label required" id="label-street" for="street">Straße:</label>
    <input class="form-control" type="text" placeholder="Musterstrasse" id="street" formControlName="street">
  @if (newCustomerForm.get('street')?.invalid && (newCustomerForm.get('street')?.touched || newCustomerForm.get('street')?.dirty)) {
      <div class="text-requied">
      @if (newCustomerForm.get('street')?.errors?.['required']) {
          <small>Straße ist erforderlich.</small>
          }
      @if (newCustomerForm.get('street')?.errors?.['pattern']) {
        <small>Straße darf nicht nur aus Leerzeichen bestehen.</small>
      }
      </div>
      }
  
  </div>

  <!-- Number -->
  <div class="form-group">
    <label class="control-label required" id="label-number" for="number">Hausnummer:</label>
    <input class="form-control" type="text" placeholder="123" id="number" formControlName="number">
  @if (newCustomerForm.get('number')?.invalid && (newCustomerForm.get('number')?.touched || newCustomerForm.get('number')?.dirty)) {
    <div class="text-requied">
      @if (newCustomerForm.get('number')?.errors?.['required']) {
        <small>Hausnummer ist erforderlich.</small>
      }
      @if (newCustomerForm.get('number')?.errors?.['pattern']) {
        <small>Hausnummer darf nur Zahlen, Buchstaben, Bindestriche oder Schrägstriche enthalten (z. B. 12A, 12-14, 12/1). Keine Leerzeichen</small>
      }
    </div>
    }
  
  </div>

  <!-- Postcode -->
  <div class="form-group">
    <label class="control-label required" id="label-postcode" for="postcode">Postleitzahl:</label>
    <input class="form-control" type="text" placeholder="81500" id="postcode" formControlName="postcode">
  @if (newCustomerForm.get('postcode')?.invalid && (newCustomerForm.get('postcode')?.touched || newCustomerForm.get('postcode')?.dirty)) {
        <div class="text-requied">
        @if (newCustomerForm.get('postcode')?.errors?.['required']) {
        <small>Postleitzahl ist erforderlich.</small>
        }
        @if (newCustomerForm.get('postcode')?.errors?.['pattern']) {
        <small>Postleitzahl muss aus 4 oder 5 Ziffern bestehen.</small>
        }
        @if (newCustomerForm.get('postcode')?.errors?.['pattern']) {
        <small>Postleitzahl darf nicht nur aus Leerzeichen bestehen.</small>
        }
        </div>
        }
  
  </div>

  <!-- City -->
  <div class="form-group">
    <label class="control-label required" id="label-city" for="city">Stadt:</label>
    <input class="form-control" type="text" placeholder="MusterStadt" id="city" formControlName="city">
 @if (newCustomerForm.get('city')?.invalid && (newCustomerForm.get('city')?.touched || newCustomerForm.get('city')?.dirty)) {
  <div class="text-requied">

    @if (newCustomerForm.get('city')?.errors?.['required']) {
      <small>Stadt ist erforderlich.</small>
    }

    @if (newCustomerForm.get('city')?.errors?.['pattern']) {
      <small>Stadt darf nur Buchstaben enthalten.</small>
    }

  </div>
}
  
  </div>

  <!-- Email -->
  <div class="form-group">
    <label class="control-label required" id="label-email" for="email">E-mail:</label>
    <input class="form-control" type="email" placeholder="maxmusterman@email.com" id="email" formControlName="email">
  @if (newCustomerForm.get('email')?.invalid && (newCustomerForm.get('email')?.touched || newCustomerForm.get('email')?.dirty)) {
    <div class="text-requied">
      @if (newCustomerForm.get('email')?.errors?.['required']) {
        <small>E-Mail-Adresse ist erforderlich.</small>
      }
      @if (newCustomerForm.get('email')?.errors?.['pattern']) {
        <small>E-Mail-Adresse darf nicht nur aus Leerzeichen bestehen.</small>
      }
      @if (newCustomerForm.get('email')?.errors?.['email']) {
        <small>Bitte geben Sie eine gültige E-Mail-Adresse ein (z. B. max.mustermann@example.com).</small>
      }
    </div>
  }
  
  </div>

  <!-- Phone Number -->
  <div class="form-group">
    <label class="control-label" id="label-phone" for="phone">Telephone:</label>
    <input class="form-control" type="tel" placeholder="+49 176 42 56 85 45" id="phone" formControlName="phone">
  </div>

  <!-- Receive Subscribtion -->
  <div class="form-group">
    <label class="control-label" id="label-has_subscription">Willst du unsere Mitteilungen per E-Mail bekommen?</label>
    <div class="form-radio">
        
      <label for="has_subscriptionYes">
      <input class="form-control" type="radio" id="has_subscriptionYes" formControlName="has_subscription" [value]="true">
        Ja
      </label>

      <label for="has_subscriptionNo">
        <input class="form-control" type="radio" id="has_subscriptionNo" formControlName="has_subscription" [value]="false">
        Nein
      </label>
    </div>
  </div>

   <!-- Portofilo -->
  <div class="form-group">
    <label class="control-label" id="label-has_portfolio">Willst du ein Profolio bei uns haben?</label>
    <div class="form-radio">
        
      <label for="has_portfolioYes">
      <input class="form-control" type="radio" id="has_portfolioYes" formControlName="has_portfolio" [value]="true">
        Ja
      </label>

      <label for="has_portfolioNo">
        <input class="form-control" type="radio" id="has_portfolioNo" formControlName="has_portfolio" [value]="false">
        Nein
      </label>
    </div>
  </div>

  <!-- Comment -->
  <div class="form-group">
    <label class="control-label" id="label-comment" for="comment">Kommentar:</label>
    <textarea class="form-control" id="comment" formControlName="comment"></textarea>
  </div>

  <button type="submit" [disabled]="!newCustomerForm.valid">
    Speichern
  </button>
</form>
