<section class="pricing">
  <div class="pricing-header">
    <h1>Wähle dein Kurs</h1>
    <p>
      Meistere den Kryptomarkt mit unseren strukturierten Kursen. Wähle einen Plan, der zu deinen
      beruflichen Zielen und deinem Stil passt.
    </p>
  </div>

  <div class="pricing-plans">
    <!-- Course -->
    @for (course of courses(); track course.order) {
      <div class="plan">
        <h3 class="plan-title">{{ course.name }}</h3>
        <span class="badge">{{ course.badge }}</span>
        <span class="plan-subtitle">{{ course.description }}</span>

        <div class="plan-price">
          <span class="price">{{ course.price | number: '1.2-2' }}€</span
          ><span class="period">/einmalig</span>
        </div>

        <button class="main-btn-start-in-krypto" (click)="buyCourse(course.id)">Kaufen</button>

        <ul class="plan-features">
          @for (feature of course.features; track feature.id) {
            <li>{{ feature.text }}</li>
          }
        </ul>
      </div>
    }
    <!-- Course End -->
  </div>
</section>
