@use './../../../basic';

.main-content-customer {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  max-width: 37.875rem;
  width: 100%;
  background-color: #fff;
  border-radius: 1.25rem;
  padding: 40px;
  margin: 10px;
  .arrow-back {
    width: fit-content;
    text-decoration: none;
  }
  .close-btn {
    display: none;
  }
  .title {
    color: basic.$primary;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .input-container {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      label {
        margin-bottom: 1rem;
      }
    }
    .input-field {
      background-repeat: no-repeat;
      background-position: left 30px top 50%;
      border: solid 0.0625rem transparent;
      padding-left: 85px;
      padding-top: 18px;
      padding-bottom: 18px;
      width: 100%;
      height: 3.07rem;
      background-color: basic.$body-bg;
      border-radius: basic.$border-radius;
      //   @include firstTranistion();
      &:hover {
        border: solid 0.0625rem basic.$secondary;
      }
      &:focus {
        border: solid 0.0625rem basic.$secondary;
        outline: basic.$secondary;
      }
    }

    .input-icon {
      position: absolute;
      top: 52px;
      left: 0;
      padding: 0 25px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }
    .btn-password {
      display: flex;
      justify-content: center;
      background: none;
      color: basic.$primary;
      text-decoration: none;
      width: fit-content;
      padding: 0.3125rem 0.9375rem;
      border-radius: basic.$border-radius;
      margin-bottom: 30px;
      border: solid 0.0625rem transparent;
      //   @include firstTranistion();
      &:hover {
        color: basic.$primary;
        background: basic.$body-bg;
      }
      &:focus {
        color: basic.$primary;
        background: basic.$body-bg;
        border: solid 0.0625rem basic.$secondary;
        outline: basic.$secondary;
      }
    }
  }

  p {
    text-align: center;
    margin-bottom: 1.875rem;
  }

  .btn-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1.875rem;
    .back-button,
    .forward-btn {
      display: flex;
      width: fit-content;
      font-weight: 700;
      font-size: 1.125rem;
      gap: 10px;
      padding: 12px 25px;
      border: solid 0.0625rem transparent;
      border-radius: basic.$border-radius;
      color: basic.$thirteenth;
      background-color: basic.$primary;
      margin-top: auto;
      transition: basic.$first-transition;
      &:hover {
        border: solid 1px basic.$primary;
        background-color: basic.$body-bg;
        color: basic.$primary;
      }
      &:focus {
        border: solid 1px basic.$primary;
        background-color: basic.$body-bg;
        color: basic.$primary;
      }
    }
    .back-button {
      visibility: visible;
    }
  }
}
