@use './../../../../basic';

.wrapper-content {
  display: flex;
  width: 75rem;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
  transform: translateX(0%);
  transition: basic.$first-transition;
}

.container-edit,
.container-firma {
  display: flex;
  flex-direction: column;
  width: 37.5rem;
  height: 50rem;
  padding: 1.875rem;
  overflow: hidden;
}

.logo {
  text-align: center;
  margin-bottom: 1.25rem;
}

h1 {
  text-align: center;
  margin: 0.625rem 0 0.3125rem;
}
.subtitle {
  text-align: center;
  color: basic.$secondary;
  font-weight: 500;
  margin-bottom: 1.875rem;
}
h2 {
  border-bottom: 2px solid basic.$border-color;
  padding-bottom: 0.3125rem;
  margin-bottom: 1.25rem;
}
.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.75rem;
}
.details div {
  margin-bottom: 5px;
}

dt {
  font-weight: bold;
  color: basic.$secondary;
}


.bank,
.bank-account,
.swift-code,
.email,
.founding,
.tax {
  margin-top: 0.5rem;
  font-weight: bold;
  color: #555;
}

.tax {
  margin-top: 1.25rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.25rem;
}

input[type="file"] {
  cursor: pointer;
}

.control-label {
  display: inline-block;
  margin: 0rem 0rem 0.5rem;
  color: #374151;
  font-weight: 500;
  line-height: 1.5rem;
  transition: all 0.3s ease;
}

.form-control {
  height: 2.125rem;
  padding: 0.375rem 0.75rem;
  border: 0.063rem solid #ccc;
  border-radius: 0.25rem;
  background-color: #fff;
  color: basic.$main;
  font-size: 0.88rem;
  font-weight: 300;
  line-height: 1.25rem;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control:focus {
  border-color: basic.$primary;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px var(--primary);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px basic.$primary;
}

.show-edit {
  transform: translateX(-50%);
}

.show-scroll {
    overflow-y: scroll;
}

.btn-container {
  display: flex;
  justify-content: space-between;
}

.form-group label::after {
  content: " *";
  color: red;
  font-weight: bold;
}
