@use './../../../basic';

.main-content-customer {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  max-width: 37.875rem;
  width: 100%;
  background-color: #fff;
  border-radius: 1.25rem;
  padding: 40px;
  margin: 10px;
  .form-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    margin-bottom: 1.875rem;
    .form-title-name {
      color: basic.$primary;
      font-size: 1.875rem;
      font-weight: 700;
      line-height: normal;
      text-align: center;
    }
    .info-container {
      background: none;
      width: 2rem;
      height: 2rem;
    }

    .info-icon {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      //   animation: pulse-effect 2s infinite;
    }
  }
  .description {
    text-align: center;
    margin-bottom: 1.875rem;
    .new-user-link {
      color: basic.$primary;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .input-container {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      label {
        margin-bottom: 1.875rem;
      }
      .input-icon {
        position: absolute;
        top: .875rem;
        left: 0;
        padding: 0 25px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
      }

      .warn-txt-hight {
        height: 55px;
      }

      .eye-button {
        position: absolute;
        top: 10px;
        right: 0;
        padding: 0 25px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
      }
    }
    .input-field {
      background-color: basic.$body-bg;
      border: solid 0.0625rem transparent;
      padding-left: 85px;
      padding-top: 18px;
      padding-bottom: 18px;
      width: 100%;
      height: 3.07rem;
      border-radius: basic.$border-radius;
      transition: border 175ms ease-in-out;
      &:hover {
        border: solid 0.0625rem basic.$secondary;
      }
      &:focus {
        border: solid 0.0625rem basic.$secondary;
        outline: basic.$secondary;
      }
      input:-webkit-autofill {
        background-color: basic.$body-bg;
        box-shadow: 0 0 0px 1000px basic.$body-bg inset;
        border: solid 0.0625rem transparent;
      }
    }

    .btn-password {
      display: flex;
      justify-content: center;
      background: none;
      color: basic.$primary;
      text-decoration: none;
      width: fit-content;
      padding: 0.3125rem 0.9375rem;
      border-radius: basic.$border-radius;
      margin-bottom: 30px;
      border: solid 0.0625rem transparent;
      transition: all 175ms ease-in-out;
      &:hover {
        color: basic.$primary;
        background: basic.$body-bg;
      }
      &:focus {
        color: basic.$primary;
        background: basic.$body-bg;
        border: solid 0.0625rem basic.$secondary;
        outline: basic.$secondary;
      }
    }
  }
  .btn-container {
    display: flex;
    justify-content: center;
    gap: 1.875rem;
    width: 100%;
    margin-top: 1.875rem;

    .forward-btn {
      display: flex;
      justify-content: center;
      width: 10.375rem;
      font-weight: 700;
      font-size: 1.125rem;
      gap: 10px;
      padding: 12px 25px;
      border: solid 0.0625rem transparent;
      border-radius: basic.$border-radius;
      color: basic.$main;
      background-color: basic.$primary;
      margin-left: auto;
      margin-top: auto;
      transition: all 175ms ease-in-out;
      &:hover {
        background-color: basic.$primary;
      }
      &:focus {
        background-color: basic.$primary;
        outline: basic.$primary;
      }
    }
  }
  .checkbox-container {
    display: flex;
    max-width: 31.25rem;
    width: 100%;
    gap: 0.5rem;
    .checkbox-content {
      display: flex;
      align-items: center;
      column-gap: 0.625rem;
      input {
        display: flex;
        margin-bottom: auto;
        cursor: pointer;
        width: 1.25rem;
        height: 1.25rem;
      }
    }
    label {
      font-size: 16px;
      font-weight: 400;
      line-height: 16.8px;
      text-align: left;
      .privacy {
        text-decoration: none;
        color: basic.$primary;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    span {
      display: flex;
      text-align: left;
      color: #ff0000;
      font-size: 14px;
      font-weight: 400;
      line-height: 16.8px;
      padding-block: 0.3125rem;
    }
  }
}

input:-webkit-autofill {
  background-color: basic.$body-bg !important;
  box-shadow: 0 0 0px 1000px basic.$body-bg inset !important;
  border: solid 0.0625rem transparent;
}
