
  $main: #000000;
  $primary: #d6a553;
  $secondary: #8f5907;
  $third: linear-gradient(180deg, #d6a65357, #8f59073f);
  $fourth: rgb(219, 234, 254);
  $fifth: rgb(254, 249, 195);
  $sixth: rgb(255, 255, 255);
  $seventh: rgb(78, 101, 184);
  $eighth: rgb(220, 252, 231);
  $ninth: rgb(6, 70, 6);
  $tenth: rgb(254, 226, 226);
  $eleventh: rgb(158, 17, 17);
  $twelfth: #a19d9a;
  $thirteenth: rgb(244, 244, 244);
  $required: #ff0000;
  $border-color: #e4e5e5;
  $border-radius: 0.625rem;
  $max-width: 80rem;
  $body-bg: #f8f7f6;
  $box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);
  $letter-color: #000;
  $first-transition: all 200ms ease-in-out;
  $content-color: #fafafa;
  $footer: #e1e1e1;
  $focus: 2px dotted $primary;

  $test: rgb(244, 244, 244)