@use "./resets.css";
@use "./basic";

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

main {
    display: flex;
    margin: 0 .0625rem .0625rem .0625rem;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: basic.$body-bg;
}

h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
}

.title {
    margin-bottom: 1rem;
}

app-header {
    display: block;
    margin: .0625rem .0625rem 0 .0625rem;
    height: 4.5rem;
    border-right: 1px solid basic.$border-color;
    border-bottom: 1px solid basic.$border-color;
}

app-navbar {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 20rem;
    background: #ffff;
    border-right: 1px solid basic.$border-color;
    font-size: 1.25rem;
}

app-settings,
app-algorithmus,
app-dashboard,
app-apply,
app-newcustomer,
app-invoices,
app-customers {
    margin: 1rem;
    padding: 0 1rem 1rem 1rem;
}

app-header {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

app-company {
  display: flex;
  max-width: 600px;
  width: 100%;
  overflow-x: hidden;
  border-radius: 0.75rem;
  gap: 1rem;
}

button[type="button"],
a.new-customer,
button.edit,
button[type='submit'] {
  background-color: basic.$primary;
  width: fit-content;
  padding: 0.5rem;
  align-self: center;
  transition: basic.$first-transition;
}


button[type="button"]:hover,
a.new-customer:not(:disabled):hover,
button.edit:not(:disabled):hover,
button[type='submit']:not(:disabled):hover {
  background: linear-gradient(
    180deg,
    rgba(214, 166, 83, 0.3411764706),
    rgba(143, 89, 7, 0.2470588235)
  );
}

button.edit:disabled,
button[type='submit']:disabled {
  background-color: red;
}

button.edit:disabled,
button[type='submit']:disabled,
button[type='submit'][disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: initial;
}

app-toast {
  position: fixed;
  bottom: 6.25rem;
  right: 0;
  background-color: basic.$primary;
  width: fit-content;
  height: fit-content;
  padding: 1.875rem;
  gap: 0.625rem;
  border-radius: 1.875rem 1.875rem 0 1.875rem;
  box-shadow: 0px 0.375rem 0.625rem 0 #00000033;
  opacity: 1;
  z-index: 1;
  transform: translateX(100%);
  transition: basic.$first-transition;
}

.show-success {
  opacity: 1;
  transform: translateX(0);
}

app-invoice {
  display: flex;
  z-index: 10000;
  background: #f9f9f9;
  margin: 0;
  padding: 40px;
  color: #222;
}

.text-requied {
  display: flex;
  flex-direction: column;
  color: basic.$required;
}