@use './resets.css';
@use './basic';

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

main {
  display: flex;
  margin: 0 0.0625rem 0.0625rem 0.0625rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: basic.$body-bg;
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
}

.title {
  margin-bottom: 1rem;
}

app-header-auth {
  z-index: 1;
}

app-header-customer,
app-header {
  display: flex;
  margin: 0.0625rem 0.0625rem 0 0.0625rem;
  height: 4.5rem;
  border-right: 1px solid basic.$border-color;
  border-bottom: 1px solid basic.$border-color;
  padding: 1rem;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

app-navbar-customer,
app-navbar {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 20rem;
  background: #ffff;
  border-right: 1px solid basic.$border-color;
  font-size: 1.25rem;
}

app-customer-profile,
app-settings,
app-algorithmus,
app-dashboard,
app-apply,
app-newcustomer,
app-invoices,
app-customers,
app-customer-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
  padding: 0 1rem 1rem 1rem;
}

app-company {
  display: flex;
  max-width: 600px;
  width: 100%;
  overflow-x: hidden;
  border-radius: 0.75rem;
  gap: 1rem;
}

a.new-invoice,
button[type='button'],
a.new-customer,
button.new-customer,
button.edit,
button[type='submit'] {
  background-color: basic.$primary;
  width: fit-content;
  padding: 0.5rem;
  align-self: center;
}

a.new-invoice:hover,
button.new-customer:hover,
button[type='button']:hover,
a.new-customer:not(:disabled):hover,
button.edit:not(:disabled):hover,
button[type='submit']:not(:disabled):hover {
  background: basic.$primary;
}

button.edit:disabled,
button[type='submit']:disabled {
  background-color: red;
}

button[type='button']:disabled,
button[type='button'][disabled],
button.edit:disabled,
button[type='submit']:disabled,
button[type='submit'][disabled] {
  border: 1px solid #cccccc !important;
  background-color: #cccccc !important;
  color: #666666 !important;
  cursor: initial !important;
}

app-toast {
  position: fixed;
  bottom: 6.25rem;
  right: 0;
  background-color: basic.$primary;
  width: fit-content;
  height: fit-content;
  padding: 1.875rem;
  gap: 0.625rem;
  border-radius: 1.875rem 1.875rem 0 1.875rem;
  box-shadow: 0px 0.375rem 0.625rem 0 #00000033;
  opacity: 1;
  z-index: 1;
  transform: translateX(110%);
  transition: basic.$first-transition;
}

.show-success {
  opacity: 1;
  transform: translateX(-5%);
}

app-invoice {
  display: flex;
  z-index: 10000;
  background: #f9f9f9;
  margin: 0;
  padding: 40px;
  color: #222;
}

.text-requied {
  display: flex;
  flex-direction: column;
  color: basic.$required;
}

.warn-txt {
  width: 70%;
  display: flex;
  flex-direction: column;
  color: basic.$required;
  min-height: 30px;
  height: 100%;
  font-size: 0.75rem;
}

.form-group .control-label.required::after {
  content: ' *';
  color: red;
  font-weight: bold;
}

app-reset-password,
app-confirmation,
app-forgot-password,
app-create-account,
app-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  background-color: basic.$body-bg;
}

app-profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;

  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.hide-container {
  display: flex;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: -100;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.9);
  transition: all 0.5s ease;
}
.show-container {
  opacity: 1;
  visibility: visible;
  z-index: 1000;
  pointer-events: auto;
  // overflow-y: scroll;
}

.main-content:has(app-header-auth) {
  .main-content-customer {
    .arrow-back {
      display: flex;
    }
    .form {
      .btn-container {
        .back-button {
          visibility: hidden;
        }
      }
    }
  }
}

.main-content {
  .main-content-customer {
    .arrow-back {
      display: none;
    }
  }
}

.main-btn-start-in-krypto {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  max-width: 10.375rem;
  width: 100%;
  font-weight: 700;
  font-size: 1.125rem;
  gap: 0.625rem;
  padding: 0.75rem 1.5625rem;
  margin: auto;
  border-radius: basic.$border-radius;
  color: basic.$thirteenth;
  background-color: basic.$primary;
  border: solid 1px transparent;
  transition: basic.$first-transition;
  &:hover {
    border: solid 1px basic.$primary;
    background-color: basic.$body-bg;
    color: basic.$primary;
  }
  &:focus {
    border: solid 1px basic.$primary;
    background-color: basic.$body-bg;
    color: basic.$primary;
  }
}
