@import url("./resets.css");
@import url("./basic.css");

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

main {
    display: flex;
    margin: 0 .0625rem .0625rem .0625rem;
    height: 100vh;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: var(--body-bg);
}

h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
}

.title {
    margin-bottom: 1rem;
}

app-header {
    display: block;
    margin: .0625rem .0625rem 0 .0625rem;
    height: 4.5rem;
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

app-navbar {
    height: 100%;
    width: 20rem;
    background: #ffff;
    border-right: 1px solid var(--border-color);
    font-size: 1.25rem;
}

app-dashboard,
app-apply,
app-newcustomer,
app-invoices,
app-customers {
    height: 100%;
    margin: 1rem;
    padding: 0 1rem 1rem 1rem;
}

app-header {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}