@use './../../../basic';

.dashboard-statistics {
    display: flex;
    gap: 2rem;
    .dashboard-single {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: basic.$border-radius;
        border: 1px solid basic.$border-color;
        padding: 1rem;
        width: 20rem;
        height: 8rem;
        h2 {
            color: basic.$secondary;
            font-size: 1rem;
            font-weight: 600;
        }
        .dashboard-number {
            font-size: 2.5rem;
            font-weight: 900;
        }
        .dashboard-img {
            display: flex;
            align-items: center;
            justify-content: center;
            align-self: baseline;
            width: 1.875rem;
            height: 1.875rem;
            background: basic.$third;
            border-radius: basic.$border-radius;
            padding: 0.5rem;
            box-sizing: content-box;
        }
    }
}

.dashboard-list-container {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
    .dashboard-list {
        display: flex;
        flex-direction: column;
        color: basic.$secondary;
        .dashboard-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-block: 1rem;
            h2 {
                font-size: 1rem;
                font-weight: 600;
            }
            span {
                font-weight: 400;
                font-size: .9rem;
            }
        }
        ul {
            display: flex;
            flex-direction: column;
            width: 20rem;
            gap: 1rem;
             li {
                border-radius: basic.$border-radius;
                border: 1px solid basic.$border-color;
                padding: 1rem;
                button {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    .dashboard-list-single {
                        text-align: left;
                        line-height: 1.2;
                        h3 {
                            font-size: 1rem;
                            font-weight: 600;
                        }
                        span {
                            font-size: .8rem;
                            color: basic.$twelfth;
                        }
                    }
                    .dashboard-list-status {
                            display: flex;
                            border-radius: basic.$border-radius;
                            padding-inline: 0.3rem;
                            font-size: .75rem;                     
                        &.paid{
                            background: basic.$fourth;
                            color: basic.$seventh;
                        }
                        &.unpaid{
                            background: basic.$fifth;
                            color: basic.$secondary;
                        }
                        &.standart {
                            background: basic.$fifth;
                            color: basic.$secondary;
                        }
                        &.optional {
                            background: basic.$third;
                            color: basic.$secondary;
                        }
                        &.premium {
                            background: basic.$primary;
                            color: basic.$sixth;
                        }
                        &.pending {
                            background: basic.$fifth;
                            color: basic.$secondary;
                        }
                        &.approved {
                            background: basic.$eighth;
                            color: basic.$ninth;
                        }
                        &.rejected {
                            background: basic.$tenth;
                            color: basic.$eleventh;
                        }
                    }
                }
             }
        }
    }
}